/*** =====================================================
This document contains all variables used in the application

author: kc-slg
last update: 31/03/2016
===================================================== ***/

// contents ------------
//  - color variables
//      - palette
//			- background
//			- border
//      - text
//  - typographic variables
//      - base
//			- typefaces
//			- body
//  - elements
//      - border
//			- spacer
// ---------------------
////////////////////////////////////////////////////////////////////////////////
//  1. color variables                                                        //
////////////////////////////////////////////////////////////////////////////////
/*** 1.1 general color ***/
$color__wht: #ffffff;
$color__blk: #000000;
$color__grey--lighter: #E4E4E4;
$color__grey--light: #9E9E9E;
$color__grey: #555555;
$color__grey--dark: #292929;
$color__grey--darker: #181818;
$color__reversed: #EEEEEF;
$color__accent: #C99E66;
$color__footer-text: #878787;
/*** 1.2 background color ***/
$color__background: $color__wht;
$color__background--label: $color__accent;
$color__background--footer-top: $color__grey--dark;
$color__background--footer-bottom: $color__grey--darker;
/*** 1.3 border color ***/
$color__border: #D4D4D4;
$color__border--light: $color__grey--lighter;
/*** 1.4 text color ***/
$color__paragraph: $color__grey;
$color__headline: $color__grey--dark;
////////////////////////////////////////////////////////////////////////////////
//  2. typographic variables                                                  //
////////////////////////////////////////////////////////////////////////////////
/*** 2.1 base ***/
$base-font-size: 16px; /*** compass vertical rhythm variable ***/
$base-line-height: 6px; /*** compass vertical rhythm variable ***/
//$base__font-size: em(16);
//$base__line-height: em(24);
/*** 2.2 typefaces ***/
$base__font-family: 'Noto Sans', sans-serif;
$base__font-family--chi: 'sourcehansans-tc', sans-serif;
$heading__font-family: 'Playfair Display', serif;
$heading__font-family--chi: 'dats4', serif;
$secondary__font-family: 'Raleway', sans-serif;
////////////////////////////////////////////////////////////////////////////////
//  3. elements                                                               //
////////////////////////////////////////////////////////////////////////////////
/*** 3.1 border ***/
$el__border: 1px solid $color__border;
$el__border--accent: 1px solid $color__accent;
/*** 3.1 spacers ***/
$el__spacer--xs: em(16);
$el__spacer--sm: em(30);
$el__spacer--md: em(45);
$el__spacer--lg: em(60);