.video-bar{
	@extend .col-xs-12;
	padding-top: $el__spacer--xs;
	padding-left: 0;
	padding-right: 0;
	margin-top: $el__spacer--md;
	border-top: $el__border;
	&__ext-link{
		@extend .pull--right;
		a{
			@include adjust-font-size-to(13px);	
			text-transform: uppercase;
			letter-spacing: em(2);
			color: $color__grey;
			&:hover{
				color: $color__accent;
			}
		}
	}
	&__thumbnail{
		@extend .col-xs-12, .col-sm-4;
		height: em(240);
		overflow: hidden;
		margin-top: $el__spacer--xs;
		@include respond-to(md-screen){
			height: em(180);
		}
		img{
			width: 100%;
			height: auto;
		}
	}
}